@import "./lib/styles/reset.css";
@import "./lib/styles/font.css";
@import "./lib/styles/size.css";
@import "./lib/styles/colors.css";
@import "./lib/styles/border.css";
@import "./lib/styles/shadows.css";

@font-face {
  font-weight: 300 900;
  src: url("/Figtree.ttf");
  font-family: "Figtree";
}

:root {
  --black-hsl: 0 0% 0%;
  --white-hsl: 0 0% 100%;

  --primary-hsl: 49 79% 53%;
  --primary-foreground-hsl: 26 83.3% 14.1%;
  --secondary-hsl: 12 6.5% 15.1%;
  --background-hsl: 317 17% 8%;
  --popover-hsl: 316 18% 12%;

  --primary: hsl(var(--primary-hsl));
  --primary-foreground: hsl(var(--primary-foreground-hsl));
  --secondary: hsl(var(--secondary-hsl));
  --destructive: #bc3908;
  --background: hsl(var(--background-hsl));
  --popover: hsl(var(--popover-hsl));
  --foreground: hsla(0, 0%, 100%, 0.9);

  border-color: hsl(var(--magnolia-hsl) / 10%);
  background-color: var(--raisin-black);

  color: var(--magnolia);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: Figtree, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

body {
  height: 100vh;
  border-color: var(--border-color);
}