@import "./styles/font.css";
@import "./styles/size.css";
@import "./styles/colors.css";
@import "./styles/border.css";

@font-face {
    font-weight: 300 900;
    src: url('/Figtree.ttf');
    font-family: 'Figtree';
}

:root {
    font-family: Figtree, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: var(--magnolia);
    background-color: var(--raisin-black);
    border-color: hsl(var(--magnolia-hsl) / 10%);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

body {
    height: 100vh;
    padding-top: env(safe-area-inset-top);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
}